### Table of Contents
01. Import Libraries
02. Import Data
03. Task 4.7 Step 1: Create flag to sort products according to price
04. Task 4.7 Step 1 (continued): Summarize busyness for each day of the week by creating for-loop
05. Task 4.7 Steps 2-3: Create new column showing 2 busiest and 2 slowest days
06. Task 4.7 Steps 4-5: Identify busiest hours of the day
07. Export Data

# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
# Folder Path
path = r'C:\Users\jrper\OneDrive\Documents\Career Foundry Data Analytics Program\Instacart Basket Analysis'

In [3]:
# Import orders_products_merged.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. Task 4.7 Step 1: Create flag to sort products according to price

In [4]:
# Create smaller subset
df2 = df_ords_prods_merged[:1000000]

In [5]:
df2.shape

(1000000, 14)

In [6]:
# Define function to create flag that sorts products according to price
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Execute function
df2['price_range'] = df2.apply(price_label, axis=1)

C:\Users\jrper\AppData\Local\Temp\ipykernel_12404\2063315643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['price_range'] = df2.apply(price_label, axis=1)

In [8]:
# Check values in new column
df2['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

#### Observations: No values in High-range category

In [9]:
# Find most expensive product within subset
df2['prices'].max()

14.8

In [10]:
# Use pre-defined function to create 'price_range_loc' column for df_ords_prods_merged
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
# Check frequency counts for new column 'price_range_loc'
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21861558
Low-range product     10130750
High-range product      412551
Name: price_range_loc, dtype: int64

In [14]:
# Check output for new column 
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

#### Observations: Column 'price_range_loc' successfully created

# 04. Task 4.7 Step 1 (continued): Summarize busyness for each day of the week by creating for-loop

In [15]:
# Print frequency for 'orders_day-of_the_week'
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

#### Observations: Saturday is the busiest day and Wednesday is the least busy day of the week

In [16]:
# Create for-loop to assign corresponding value

result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [17]:
# Assign result to new column 'busiest_day'
df_ords_prods_merged['busiest_day'] = result

In [18]:
# Compare frequency counts with 'orders_day_of_week' counts
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

#### Observations: Frequency counts for 'busiest_day' column are consistent with 'orders_day_of_week' frequency counts.

# 05. Task 4.7 Steps 2-3: Create new column showing 2 busiest and 2 slowest days

In [19]:
# Create flag for 2 busiest days. Saturday (0) and Sunday (1)
df_ords_prods_merged.loc[(df_ords_prods_merged['orders_day_of_week'] == 0) | (df_ords_prods_merged['orders_day_of_week'] == 1), 'busiest_days_2'] = 'Busiest Days'

In [20]:
# Create flag for 2 slowest days. Wednesday (4) and Tuesday (3)
df_ords_prods_merged.loc[(df_ords_prods_merged['orders_day_of_week'] == 4) | (df_ords_prods_merged['orders_day_of_week'] == 3), 'busiest_days_2'] = 'Slowest Days'

In [21]:
# Create flag for regular days Monday (2), Thursday (5), Friday (6)
df_ords_prods_merged.loc[(df_ords_prods_merged['orders_day_of_week'] == 2) | (df_ords_prods_merged['orders_day_of_week'] == 5) | (df_ords_prods_merged['orders_day_of_week'] == 6), 'busiest_days_2'] = 'Regularly Busy'

In [22]:
# Check output for new column
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days_2
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly Busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days

In [23]:
# Check frequency counts
df_ords_prods_merged['busiest_days_2'].value_counts(dropna = False)

Regularly Busy    12916111
Busiest Days      11864412
Slowest Days       7624336
Name: busiest_days_2, dtype: int64

#### Observations: 'busiest_days_2' counts are consistent with 'orders_day_of_week' counts.

# 06. Task 4.7 Steps 4-5: Identify busiest hours of the day

In [24]:
# Check frequency for 'order_hour_of_day'
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

#### Observations: Busiest hour is 10 and slowest hour is 3.

In [25]:
# Create for-loop to create column 'busiest_period_of_day' with values "Most Orders", "Average Orders", and "Fewest Orders"

result2 = []

for value in df_ords_prods_merged['order_hour_of_day']:
  if value >= 9 and value <= 16:
    result2.append("Most Orders")
  elif value >= 0 and value <= 6 or value == 23:
    result2.append("Fewest Orders")
  else:
    result2.append("Average Orders")

In [26]:
# Assign result to 'busiest_period_of_day' column
df_ords_prods_merged['busiest_period_of_day'] = result2

In [27]:
# Check output for new column
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days_2,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly Busy,Average Orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average Orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most Orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average Orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most Orders

In [28]:
# Check frequency for 'busiest_period of day'
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most Orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: busiest_period_of_day, dtype: int64

#### Observations: 'busiest_period_of_day' frequency counts consistent with 'order_hour_of_day' frequency counts

# 07. Export Data

In [29]:
# Step 7: Export df_ords_prods_merged as ords_prods_new_variables.pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_new_variables.pkl'))